// App themes
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

@mixin themes__content {
  // Base

  input {
    border: 1px solid $colors__border;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $colors__text;
  }
}
