// Small fixes for libraries ploblems
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Firefox button focus
button::-moz-focus-inner {
  border: 0;
}

#__nuxt,
#__layout {
  @include size(100%, 100%);
}
